<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <style>
        .grid {
            grid-template-columns: repeat(auto-fit,minmax(0%,1fr)) !important;
        }
    </style>
    <title>Document</title>
</head>
<body x-data="{modal:true}">
    {% include 'nav.html' %}
    {% block content %}
    {% endblock %}
    <script src="//unpkg.com/alpinejs" defer></script>

    <dialog x-bind:open="modal" x-show="modal">
        <article @click.outside="modal=false">
            <h2>Confirmar cambios</h2>
            <p>¿Deseas guardar los cambios realizados en esta comanda?</p>
            <footer>
                <button class="secondary" @click.prevent="modal = false">
                    Cancelar
                </button>
                <button>Confirmar</button>
            </footer>
        </article>
    </dialog>

    <style>
        dialog[open] article {
            animation: fadeIn 0.3s ease;
        }
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: scale(0.95);
            }
            to {
                opacity: 1;
                transform: scale(1);
            }
        }
    </style>
</body>
</html>